

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
   text-decoration: none;
    list-style: none;
    
}
ul,h1,h2,h3,h4,p{
    margin-bottom: 0 !important;
}
a{
    text-decoration: none  !important;
}


/* mid-container */

.solutions-container{
    background: rgba(3, 3, 3, 0.92);
    background-image: url(./Group\ 2647.png);
    background-repeat: no-repeat;
   
}
.edentulous-content{
  display: flex;
  justify-content: center;
}


.text h1{
    font-weight: 600;
font-size: 64px;
line-height: 86px;
color: #FFFFFF;

}
.text p{
    font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
margin-top: 20px;
opacity: 0.8;
}
.text-content{
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
   

}
.button{
    position: fixed;
   bottom: 0;
    display: flex;
    height: 54px;
}
.button-1{
padding: 16px 27px;
background: #FFFFFF;
}

.button-1 span{
    font-weight: 600;
    font-size: 18px;
   
    color: #8FB91C;
    
}
.button-2{
    padding: 16px 57px;
  
    background: rgba(3, 3, 3, 0.92);
}
.button-2 span{
    font-weight: 400;
    font-size: 18px;
  
    color: #FFFFFF;

    opacity: 0.9;
}

/* right  part */

.right-image img{
width: 100%;

}
.card-content{

    background: #8FB91C;
box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.12);
display: flex;
justify-content: space-between;
}
.card-text{
    padding: 32px 0 31px 40px;
   
}
.card-text h2{
    font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #030303;

}
.card-text p{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
padding: 8px 0 16px;
color: #030303;

opacity: 0.8;
}
.card-text a{
    font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}
.card-text a img{
    margin-left: 11px;
}
.arrows{
    display: flex;
}
#left-arr{
background: rgba(3, 3, 3, 0.1);

}
.arrow{
    width: 48px;
height: 48px;
background: #030303;
}
.arrow  {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section 2 */
.text-head-content{
    padding-top:120px ;
}
.text-head h2{
    font-weight: 600;
font-size: 48px;
line-height: 59px;

color: #030303;

}
.right-text-content{
  display: flex;
}
.right-text{
  display: flex;
  align-items: center;
}
.right-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
   
    color: rgba(3, 3, 3, 1);

  }

  /* second row section 2 */

  .cards-text{
    width: 470px;
  }
.cards-text h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
   
    color: #8FB91C;
}
 .cards-text h4{
    font-weight: 500;
font-size: 24px;
line-height: 36px;

margin-top: 16px;

color: #030303;

}

.cards-text p{
    font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #030303;

/* opacity: 0.8; */
}
.para-content{
  margin: 12px 0 28px;
}
.learn-more a{
    padding: 12px 40px;
    background: #030303;
    font-weight: 600;
font-size: 14px;

color: #FFFFFF;

}

 
 
  
  .content-img{
   display: flex;
   justify-content: flex-end;
  }
  .text-img{
    padding-top: 108px;
  }
  .cards-content{
   display: flex;
   align-items: center;
  }
.text-card-content{
  padding-bottom: 120px;
}
  /* row 3 */
  .right-content{
    display: flex;
    justify-content: flex-end;
  }
 

  /* 4 */
.cards{
 display: flex;
 align-items: center;
}

  /* section 3 */
  .videos-content{
    background: rgba(3, 3, 3, 1);
   
  }
  .commas{
    position: absolute;
    left: -4%;
    top: 25%;
    opacity: 0.3;
  }
  
  .main-head{
    margin-top: 113px;
  }
  .main-head h2{
    font-weight: 600;
font-size: 48px;
line-height: 64px;
color: #FFFFFF;

  }
  .card-img-content{
    padding: 61px 0 88px;
  }
  .cardtext p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    
    
    color: rgba(255, 255, 255, 1);
    
  }
  
  .cardtext{
    margin-top: 24px;
  }
  iframe{
    width: 100%;
    height: 237px;
  }
  .rectangle-imgs{
    position: relative;
  }
  .rectangle-imgs img{
    position: absolute;
    right: 0;
    bottom: 0;
  }


  /* section 4 */

  .contact-cart{
    background: rgba(143, 185, 28, 0.1);
  }
  
  .top-main-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: auto;
text-align: center;
margin-bottom: 64px;
  }
  .top-main-text h2{
    font-weight: 600;
font-size: 48px;
line-height: 59px;
color: #030303;

  }
  .top-main-text p{
    font-weight: 500;
font-size: 20px;
line-height: 30px;


color: #030303;

opacity: 0.8;
  }
/* card content */

.mid-card-content{
  padding: 120px 0;
}
  .content-card{
    background: rgba(3, 3, 3, 1);
    width: 370px;
   
  }
  .content-card-img img{
    width: 108px;
    height: 108px;
  }
  .content-card-body{
    padding: 50px 24px 40px;
  }
  .content-text h3{
    font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;

  }
  .content-text p{
    font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
margin-top: 16px;

  }
  .info-button {
    width: 183px;
    height: 41px;
    background: #8FB91C;

    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
  
  }
  .info-button a{
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
display: flex;
gap: 9px;
align-items: center;

  }
  
  .content-text{
    margin: 34px 0 28px;

  }
/* section 5 */

.accordion-container{
  background: rgba(3, 3, 3, 1);
}
.faded-img{
  position: relative;
}
.faded-img img{
  position: absolute;
  top: 0;
  right: 0;
}
.head-main{
  margin: 100px 0 48px;
}
.head-main h2{
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}
.head-main p{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
margin-top: 20px;
  color: #FFFFFF;
  
  opacity: 0.8;
}


/* accordion */
.accordion-item{
  background: #030303 !important;

border: 2px solid #8FB91C !important;


}

.name{
  font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #8FB91C;
/* color: #FFFFFF; */

}
.accordion-button{
  background: #030303 !important;
 
  gap: 20px;
  padding: 0 !important;
  box-shadow: none !important;
}

.accordion-button::after{
  
  background-image: url(./bx-plus\ 1.png) !important;

}
.bottom-info img{
  margin-left: 11px;
}
.accordion-button:not(.collapsed)::after{
background-image: url(./bx-minus\ 1.png) !important;
}
.active::after{
  background: #cf1313 !important;
 
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
}
.accordion-body-item{
  background: #1A1A1A ;
 
border: 2px solid rgba(255, 255, 255, 0.3);
margin-top: 24px;
}

.accordion{
  --bs-accordion-btn-icon-width: 36px !important;
}

.main-buttons{
  background: #1A1A1A !important ;
  padding: 17px  33px !important;
}
.card-info{
  display: flex;
  padding: 16px ;
  background: #FFFFFF;
  justify-content: space-between;
 
}
.card-info-text{
  display: flex;
}
.card-info-text h3{
  font-weight: 500;
font-size: 20px;
line-height: 21px;
padding-bottom: 12px;
color: #8FB91C;

}

.down-info{
  
    width: 183px;
    height: 41px;
    display: flex;
    padding: 12px 0;
    margin: auto 0;
    background: #030303;
    justify-content: center;
}


.down-info a{
  display: flex;
  gap: 9px;
  font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;

}
.accordion{
  margin-bottom: 60px;
}
.text-info{
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-info a{
  font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #030303;

opacity: 0.6;
}
.mbd{
  margin-right: 7px;
}

.bottom-info{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.bottom-info h4{
  font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;

opacity: 0.6;
}
.bottom-info a{
  font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #8FB91C;
}

.accordion-item{
  padding: 30px 32px 27px;
}
.accordion-item-body{
  margin: 24px 0 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}



.main-text{
  font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #FFFFFF;

}




  @media screen and (max-width:576px){
    .main-text{
      font-size: 16px;
    }
   .bottom-info{
    display: block;
   }
    /* section 1 */
   
  
  
  .text h1{
     
  font-size: 44px;
  line-height: 44px;
 
  
  }
  .text p{
      font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  
  margin-top: 20px;
  opacity: 0.8;
  }
  .text-content{
    
     width:unset;
  margin-left: 16px;
     padding: 50px 0;
  }
  br{
    display: none;
  }
  .button{
    bottom:0;
    

  }
  .button-1{
  padding: 12px 15px;
  
  background: #FFFFFF;
  }
  .button-1 span{
    font-size: 12px;
  }

  .button-2{
      padding: 12px 30px;
     
  }
  .button-2 span{
      font-weight: 400;
      font-size: 12px;
  
  
      opacity: 1;
  }
  .solutions-container{
    background-size: 50%;
  }
  /* right  part */
  
  .right-image img{
  width: 100%;
  height: 100%;
  }
  .card-content{
  
     width: 100%;
  }
  .card-text{
      padding: 30px 0 20px 30px;
  
  }
  
  
 
 /* section-2 */
 .text-head-content{
  padding-top:30px ;
}
.text-head{
  margin-top: 30px;
}
.text-head h2{
 
font-size: 30px;
line-height: 40px;

}
.right-text{
  margin-top: 20px;
}
.right-text p{

  font-size: 18px;
  line-height: 32px;
 

}

/* second row section 2 */

.cards-text{
 
  width: 100%;
  margin-top: 40px;
}
.cards-text h3{
 
  font-size: 32px;
  line-height: 34px;
 

}
.cards-text h4{
 
font-size: 24px;
line-height: 36px;

margin-top: 12px;

}

.cards-text p{
 
font-size: 16px;
line-height: 24px;

}


.content-img img{
  width: 100%;
}
.card-img-left img{
  width: 100%;
}
.content-img {
  margin-top: 40px;
}
.text-img{
  padding-top: 20px;
}
.text-card-content{
  padding-bottom: 30px;
}
.right-img{
width: 100%;
}
.mid-img{
  display: block;
  margin: auto;

}


/* section 3 */
.section-3-bg{
  margin-top: 60px;
}
.commas{
 display: none;
}

.main-head{
  margin-top: 60px;
}
.main-head h2{
 text-align: center;
font-size: 32px;
line-height: 36px;


}
.card-img-content{
  padding: 30px 0;
}
.cardtext p{
 
  font-size: 16px;

  
}
.cardtext{
  margin-top: 12px;
}
.cardcontent{
  width: 100%;
  margin-top: 40px;
}
.cardimage img{
  width:100%;

}
.rectangle-imgs{
 display: none;
}



 /* section 4 */

.top-main-text{
 
 
  width: unset;
text-align: center;
margin-bottom: 0;
}
.top-main-text h2{
 
font-size: 44px;
line-height: 50px;

}
.top-main-text p{
 
font-size: 20px;
line-height: 30px;
}
/* card content */

.mid-card-content{
padding: 60px 0;
}
.content-card{
 margin-top: 30px;
  width: 100%;
 
}

.content-card-body{
  padding: 30px ;
}


/* section accordion
 */

 .card-info {
  display: block;
 
  padding: 16px;
  background: #FFFFFF;
 
}
.card-info-text{
  display: block;
}
.text-info {
  margin-left: 0;
 
}
.down-info{
  width: 100%;
  margin-top: 10px;
}
.card-info-text h3 {
 margin-top: 10px;
}

  }

  /*  */

  @media screen and (min-width:576px) and (max-width:1024px){

    /* section 1 */
    .solutions-container{
     background-size: 50%;
     
  }
  
  br{
    display: none;
  }
  .text h1{
      font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  
  }
  .text p{
     
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 20px;
  opacity: 0.8;
  }
  .text-content{
     
   
  }
  .button{
      margin-top: 87px;
      display: flex;
      height: 54px;
  }
  .button-1{
  padding: 16px 20px;
  background: #FFFFFF;
  }
  
  .button-1 span{
      font-weight: 600;
      font-size: 14px;

      
  }
  .button-2{

     padding: 12px 20px;
  }
  .button-2 span{
      
      font-size: 14px;

  }
  
  /* right  part */
  
  .right-image img{
  width: 100%;
  height: 100%;
  }
  
  .card-text{
      padding: 32px 0 31px 30px;
     
  }
 
 /* section 2 */
.text-head-content{
  padding-top: 60px;
}
.text-img{
  padding-top: 40px;
}
.text-head h2{
 
font-size: 40px;
line-height: 50px;

}
.right-text p{
  
  font-size: 18px;


}
.content-img img{
  width: 100%;
}
.card-img-left img{
  width: 100%;
}
/* second row section 2 */

.cards-text{
  width:100%;
}


.cards-content{
  margin-top: 30px;
}


.card-content-imgs{
  width:100%;

}
.cards-text h3{
  font-size: 33px;
}
.cards-text h4{
  margin-top: 6px;
}
.para-content{
  margin: 12px 0;
}
.content-img{
  margin-top: 30px;
}

/* row 3 */

.right-img {
  width: 100%;
}

/* 4 */
.cards{
margin-top: 46px;
} 



/* section 3 */
.section-3-bg{
  margin-top: 40px;
}
.commas{
 display: none;
}

.main-head{
  margin-top: 60px;
}
.main-head h2{

font-size: 32px;
line-height: 36px;


}
.card-img-content{
  padding: 30px 0;
}
.cardtext p{
 
  font-size: 16px;

  
}
.cardtext{
  margin-top: 12px;
}
.cardcontent{
  width: 100%;
  margin-top: 40px;
}

.rectangle-imgs img{
 width: 8%;
}



/* section 4 */
.top-main-text{
 
 
  width: unset;
text-align: center;
margin-bottom: 0;
}
.top-main-text h2{
 
font-size: 44px;
line-height: 50px;

}

.top-main-text p{
 
font-size: 20px;
line-height: 30px;
}
/* card content */
.info-button {
width: 100%;
}
.mid-card-content{
padding: 60px 0;
}
.content-card{
 margin-top: 30px;
  width: 100%;
  height: 100%;
 
}
.content-text{
  margin: 10px 0;
}

.content-card-body{
  padding: 12px ;
}
.content-text h3{
  font-size: 14px;
}
  }

  @media screen and (min-width:576px) and (max-width:768px){

   
  .button-1 {
    padding: 16px 6px;
    background: #FFFFFF;
}
.text p{
  font-size: 16px;
}

.card-text {
  padding: 21px;
}
  }
  @media screen and (min-width:912px) and (max-width:1024px){
  .button {
    margin-top: 128px;
    display: flex;
    height: 54px;
}
.text p {
  font-size: 17px;
 
}
}
@media screen and (min-width: 1024px) and (max-width: 1024px){
.rectangle-imgs img {
    width: 6%;
}
.button-2 {
  padding: 12px 57px;
}
}

@media screen and  (max-width: 280px){
  .mid-img {
    width: 100%;
  
}
.top-main-text h2 {
  font-size: 38px;
 
}
.content-card-body {
  padding: 10px;
}

.cards-text h3 {
  font-size: 25px;
 
}
.cards-text h4 {
  font-size: 23px;

}


.cards-text p {
  font-size: 14px;
 
}

.card-text {
  padding: 6px;
}
.text p {
  font-size: 14px;
 
}
.button-1 {
  padding: 10px;
 
}
.button-1 span {
  font-size: 9px;
}
}

